h2{
    color: rgb(15, 18, 235);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
}
#a1{
    color: #173319;
}
.a2{
    color: rgba(10, 17, 12, 0.945);
}
.a2,#a1{
    background-color: rgba(224, 232, 233, 0.356);
}


